<a href="https://colab.research.google.com/github/Sumx2/Python_Tutorial/blob/main/Python_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Sets

Collection of unique items

unordered

no duplication

In [1]:
### Create a set

my_set = {1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [3]:
my_empty_set = set()
print(my_empty_set)
print(type(my_empty_set))

set()
<class 'set'>

In [6]:
my_set = set([1,2,3,4,5,6])
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [7]:
my_et = set([1,2,3,4,5,6,7,8,8,9,5])
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [8]:
### Basics set Operations

## Adding and removing elements
my_set.add(7)
print(my_set)
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [9]:
my_set.remove(7)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [10]:
my_set.remove(10)
print(my_set)

KeyError: 10

In [11]:
my_set.discard(7) ## goes and checks if element is present or not, doesn't give key error
print(my_set)

{1, 2, 3, 4, 5, 6}

In [12]:
## pop method (FIFO)
removed_ele = my_set.pop()
print(removed_ele)
print(my_set)

1
{2, 3, 4, 5, 6}

In [13]:
## clear all the elements
my_set.clear()
print(my_set)

set()

In [14]:
### Set Membership Test (whether element is member of a set or not)

my_set = {1,2,3,4,5,6,7}
print(2 in my_set)
print(99 in my_set)

True
False

In [15]:
### Mathematical Operations

set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

##Union
union = set1.union(set2)
print(union)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [16]:
## intersection
intersection = set1.intersection(set2)
print(intersection)

{4, 5, 6}

In [17]:
##
set1.intersection_update(set2)
print(set1)

{4, 5, 6}

In [18]:
## Difference
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}
diff = set1.difference(set2) # set1 - set2
print(diff)

{1, 2, 3}

In [21]:
set2.difference(set1)

{7, 8, 9}

In [22]:
## Symmetric Difference
set1.symmetric_difference(set2) # unique elements from both sets

{1, 2, 3, 7, 8, 9}

In [23]:
### Sets Methods

set1 = {1,2,3}
set2 = {3,4,5}

## is subset
print(set1.issubset(set2)) # checks if all ele in set 1 is present in set 2
print(set2.issubset(set1)) # checks if all ele in set 2 is present in set 1

False
False

In [25]:
set1 = {1,2,3,4,5}
set2 = {3,4,5}

## is subset
print(set1.issubset(set2)) # checks if all ele in set 1 is present in set 2
print(set2.issubset(set1)) # checks if all ele in set 2 is present in set 1

False
True

In [26]:
## is superset

print(set1.issuperset(set2))
print(set2.issuperset(set1))

True
False

In [27]:
### Remove duplicate from list
list1 = [1,2,2,3,3,3,4,4,4,4,5,5,5,5,5]
set(list1)

{1, 2, 3, 4, 5}

In [30]:
### Counting unique words in text

text = "In this tutorial we are discussing about sets. Sets are a collection of unique elements. Sets are unordered."
words = text.split()
print(words) # list of words in text

#convert list of words to set
unique_words = set(words)
print(unique_words)

#count of unique words
cnt = len(unique_words)
print(cnt)

['In', 'this', 'tutorial', 'we', 'are', 'discussing', 'about', 'sets.', 'Sets', 'are', 'a', 'collection', 'of', 'unique', 'elements.', 'Sets', 'are', 'unordered.']
{'Sets', 'we', 'are', 'a', 'unique', 'of', 'tutorial', 'this', 'unordered.', 'about', 'collection', 'elements.', 'discussing', 'In', 'sets.'}
15