<a href="https://colab.research.google.com/github/Sumx2/Python_Tutorial/blob/main/Python_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tuples



*   Ordered collection of items
*   Immutable

In [2]:
### Creating a tuple

empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [3]:
lst=list()
print(type(lst))

<class 'list'>

In [5]:
tpl=tuple()
print(type(tpl))

<class 'tuple'>

In [1]:
numbers = tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [2]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [3]:
mixed_tuple = (1,"Sumanyu",9.24,True)
mixed_tuple

(1, 'Sumanyu', 9.24, True)

In [6]:
### Accessing tuple elements
print(numbers[2])
print(numbers[-1])
print(numbers[2:4])
print(numbers[::3])
print(numbers[::-1])

3
6
(3, 4)
(1, 4)
(6, 5, 4, 3, 2, 1)

In [7]:
### Tuple operations

concatenation_tuple = numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Sumanyu', 9.24, True)

In [8]:
### Repeated values

mixed_tuple * 3

(1, 'Sumanyu', 9.24, True, 1, 'Sumanyu', 9.24, True, 1, 'Sumanyu', 9.24, True)

In [9]:
numbers * 5

(1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 6)

In [10]:
### Immutable nature of tuples

lst = [1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

In [11]:
lst[2]='Sumanyu'

In [12]:
print(lst)

[1, 2, 'Sumanyu', 4, 5]

In [13]:
numbers[1]='Sumanyu' ## immutable nature

TypeError: 'tuple' object does not support item assignment

In [14]:
### Tuple methods

print(numbers.count(2))

1

In [15]:
print(numbers.index(3)) ## returns first index of value

2

In [16]:
### Packing and unpacking tuples

#packing
packed_tuple = 1,'Sumanyu',9.24
print(packed_tuple)

(1, 'Sumanyu', 9.24)

In [17]:
#unpacking
a,b,c = packed_tuple
print(a)
print(b)
print(c)

1
Sumanyu
9.24

In [18]:
### Unpacking with *

numbers = (1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [19]:
### NEsted tuples

## Nested list
lst=[['a','b'],[1,2],['Sumanyu',9.24]]
lst[0]

['a', 'b']

In [20]:
lst[0][1]

'b'

In [21]:
lst[1][0:2]

[1, 2]

In [22]:
lst=[['a','b'],[1,2],('Sumanyu',9.24)]
lst[2][0:3]

('Sumanyu', 9.24)

In [23]:
nested_tuple = ((1,2,3),('a','b','c'),(True,False))
nested_tuple[1]

('a', 'b', 'c')

In [24]:
nested_tuple[2][3]

IndexError: tuple index out of range

In [25]:
nested_tuple[1][::-1]

('c', 'b', 'a')

In [27]:
### Iterating over nested tuples

for sub_tuple in nested_tuple:
  for item in sub_tuple:
    print(item,end="")
  print()

123
abc
TrueFalse